.container{
    display: flex;
    width: 1400px;
    height: 800px;
    background-color: rgb(76, 214, 129);
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    width: 700px;
    height: 650px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.nemain{
    position: relative;
    left: -100px;
    width: 300px;
    height: 435px;
    background-color: rgb(152, 233, 23);
    box-shadow: 7px 7px 16px 6px rgba(34, 60, 80, 0.1);
    border-radius: 7px;
}
footer{
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.apple{
    position: relative;
    left: -70px;
}
.text{
    display: flex;
}
.money{
    font-size: 30px;
    color: rgb(235, 49, 49);
}
.num{
    font-size: 50px;
    color: rgb(235, 49, 49);
}
.grey{
    color: rgb(214, 212, 212);
    font-size: 15px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: rgb(235, 49, 49);
    border: none;
    color: #fff;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 7px 7px 16px 6px rgba(34, 60, 80, 0.1);
}
footer img, .ap{
    border: 1px solid rgb(58, 58, 58);
}
img, .num, .money{
    margin: 5px;
}